.content {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-inline: 1.5rem;
}

.type-container {
  width: 57ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.typeHTML {
  display: flex;
  animation: 3s typingHTML linear;
  white-space: nowrap;
  overflow-x: hidden;
  border-right: 2px solid var(--txt);
}
.typeMD {
  display: flex;
  animation: 3s typingMD linear;
  white-space: nowrap;
  overflow-x: hidden;
  border-right: 2px solid var(--txt);
}
@keyframes typingHTML {
  from {
    width: 0ch;
  }
  to {
    width: 52ch;
  }
}
@keyframes typingMD {
  from {
    width: 0ch;
  }
  to {
    width: 57ch;
  }
}

@media (max-width: 1058px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 667px) {
  .content {
    grid-template-columns: 1fr;
    margin-inline: none;
  }
  .type-container {
    display: none;
  }
}
