.content {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-inline: 2rem;
}
.content > :first-child {
  max-width: 35rem;
}

.type-container {
  width: 57ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.typeHTML {
  display: flex;
  animation: 3s typingHTML linear;
  white-space: nowrap;
  overflow-x: hidden;
  border-right: 2px solid var(--txt);
}
.typeMD {
  display: flex;
  animation: 3s typingMD linear;
  white-space: nowrap;
  overflow-x: hidden;
  border-right: 2px solid var(--txt);
}
@keyframes typingHTML {
  from {
    width: 0ch;
  }
  to {
    width: 52ch;
  }
}
@keyframes typingMD {
  from {
    width: 0ch;
  }
  to {
    width: 57ch;
  }
}

@media (max-width: 1058px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 667px) {
  .content {
    margin-inline: none;
  }
  .typeHTML,
  .typeMD {
    font-size: 0.54rem;
  }
  .type-container {
    width: auto;
  }
}
