@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Roboto&display=swap");

:root {
  --txt: #cdd6f4;
  --sub-txt: #bac2de;
  --bg: #1e1e2e;
  --nav-bg: #181825;
  --blue: #89b4fa;
  --teal: #94e2d5;
}

html {
  background: var(--bg);
}

*::before,
*,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: "nunito sans";
  color: var(--txt);
}
h1 {
  font-size: 2rem;
}
p {
  font-family: roboto;
  color: var(--sub-txt);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  height: 70px;
  background-color: var(--nav-bg);
}
nav > :last-child {
  display: flex;
  gap: 1rem;
}

.content {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: var(--txt);
}

button {
  background-color: var(--nav-bg);
  cursor: pointer;
  color: var(--sub-txt);
  border: none;
  border-radius: 5px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  transition: background-color 250ms;
}
button:hover {
  background-color: var(--bg);
}

span {
  background: linear-gradient(0deg, var(--blue), var(--teal));
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 428px) {
  p {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.3rem;
  }
}
