@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

:root {
	--txt: #cdd6f4;
	--sub-txt: #bac2de;
	--bg: #1e1e2e;
	--nav-bg: #181825;
	--blue: #89b4fa;
	--teal: #94e2d5;
  --surface0: #313244;
  --crust: #11111b;
}

html {
	background: var(--bg);
}

*::before,
*,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
	font-family: "nunito sans";
	color: var(--txt);
}
h1 {
	font-size: 2rem;
}
p {
  font-family: "source serif pro";
	color: var(--sub-txt);
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 2rem;
	height: 70px;
	background-color: rgba(17, 17, 27, 0.5);
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  width: 100%;
}
nav > :last-child {
	display: flex;
	gap: 1rem;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
nav a img {
  border-radius: 50%;
}

a {
	text-decoration: none;
	color: var(--txt);
}

button {
	background-color: var(--nav-bg);
	cursor: pointer;
	color: var(--sub-txt);
	border: none;
	border-radius: 5px;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	transition: background-color 250ms;
}
button:hover {
	background-color: var(--bg);
}

span {
	background: linear-gradient(0deg, var(--blue), var(--teal));
	-webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
	color: transparent;
}

code {
  color: var(--sub-txt);
  background-color: var(--crust);
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--surface0);
  width: 50vw;
  word-wrap: normal;
  word-break: normal;
  display: ruby;
  overflow: auto !important;
  text-align: center;
}
.centerer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  background-color: var(--nav-bg);
  border-radius: 5px;
  margin-right: 12rem;
  margin-left: 6rem;
  border: 1px solid var(--surface0);
  padding-block: 20px;
}